.container {
  --bubble-size: 0.7rem;
  --bubble-color: var(--highlight-secondary-color);
  color: var(--highlight-color);
  background-color: var(--bubble-color);
  padding: 0.3rem 0.75rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
  position: relative;
  min-width: 2.5rem;
}

.container:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: var(--bubble-size) solid transparent;
  border-bottom: 0;
  margin-top: calc(var(--bubble-size) / -2);
}

.container.fromCorrespondent:after {
  left: 0;
  border-right-color: var(--bubble-color);
  border-left: 0;
  margin-left: calc(var(--bubble-size) * -1 + 0.1rem);
}

.container.fromUser {
  --bubble-color: var(--highlight-color);
  color: var(--highlight-secondary-color);
}

.container.fromUser:after {
  right: 0;
  border-left-color: var(--bubble-color);
  border-right: 0;
  margin-right: calc(var(--bubble-size) * -1 + 0.1rem);
}

.typing:before {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
  filter: blur(0.5px) brightness(200%);
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1rem;
  }
}
