.button {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  border: 1px #dbb solid;
  cursor: pointer;
  font-size: 5vh;
}
