.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 2vh;
  color: var(--highlight-secondary-color);
  background-color: var(--highlight-color);
  padding-bottom: 1.75vh;
}

.header-text {
  color: var(--highlight-secondary-color);
  font-size: 7vh;
}

.avatarContainer {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
}

.avatar {
  --size: 9vh;
  width: var(--size);
  height: var(--size);
  border: 1px solid currentColor;
  box-shadow: 0 0 2vh currentColor;
}
