.container {
  background-color: var(--shadow-color);
  position: relative;
  flex-grow: 1;
}

.details {
  position: absolute;
  margin: 0;
  left: 3vh;
  bottom: 1vh;
  font-size: 6vh;
  color: #fff;
  text-shadow: 2px 2px 8px var(--shadow-color),
    -2px -2px 8px var(--shadow-color), 2px -2px 8px var(--shadow-color),
    -2px 2px 8px var(--shadow-color);
}
