.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.5vh;
}

.rejectButton {
  color: #a8326d;
}

.superLikeButton {
  color: #3289a8;
}

.likeButton {
  color: #32a87f;
}
