.container,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.heading {
  margin: 1vh 0;
  font-size: 2.8vh;
  font-weight: 700;
}

.content {
  font-size: 125%;
  text-align: center;
}

.premium {
  color: var(--highlight-color);
}

.options {
  padding: 2vh;
  display: flex;
  flex-direction: row;
  gap: 3vw;
}
